body {
    position: absolute;
    margin: 0;
    padding: 0;
    background: url("../Img/Background.jpg") no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 90vh;
}

.Log-in {
    width: 550px;
    height: 550px;
    background: rgba(180, 180, 180, 0.23);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    left: 40px;
    top: 5%;
}

.Log-in h1 {
    margin: 0;
    padding: 0;
    left: 40%;
    /* Log in */
    position: absolute;
    width: 170.8px;
    height: 55.64px;
    /* Header 1 */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02;
}

.Log-in label {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.Log-in input {
    width: 90%;
    margin-bottom: 40px;
}

.Log-in input[type="text"] {
    border: none;
    border-bottom: 1px;
}

.Log-in input[type="Password"] {
    border: none;
    border-bottom: 1px;
}

.Avatar {
    position: fixed;
    z-index: 10;
    width: 680px;
    height: 680px;
    left: 630px;
    top: -8%;
}

.Rectangule {
    position: fixed;
    width: 800px;
    height: 800px;
    left: 800px;
    top: -20%;
    background: linear-gradient(147.34deg, #36F884 0%, #4383FF 43.79%);
    border-radius: 130px;
    transform: rotate(-60.11deg);
}